body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form{
    width: 400px;
    margin: 20% auto 0 auto;
    background-color:gainsboro;
    border-radius: 5px;
    padding: 30px;
}

h1{
    text-align: center;
    color: blueviolet;
}

#form button{
    background-color: blueviolet;
    color: aliceblue;
    border: 1px solid 5px;
    border-radius: 5px;
    width:100%;
    padding: 10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding:8px;
    border:1px solid blanchedalmond
}

.input-group input:focus{
    outline: 0;
}

.input-group .error{
    color: red;
    font-size: 16px;
    margin-top:5px;
}

.input-group.success input{
    border-color: green;
}

.input-group.error input{
    border-color: red;
}