*{
    margin:0;
    padding:0;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}
h2{
    color: #0000ff;
}

#msg{
    margin-bottom: 1em;
}

#gameBoard{
    margin-top: 1em;
    border: 3px solid blue;
}

#score{
    margin-top: 1em;
    font-size: 50px;
}